.App {
  text-align: center;
}

body {
  margin: 0px;
  padding: 1px;
  height: 100vh;
  background-color: rgb(124, 202, 241);
  font-family: sans-serif;
}

#root {
  display: flex;
  justify-content: center;
}

.todoList .header input {
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  border: 2px solid #FFF;
  /* width: 300px; */
}

.todoList .header button {
  border-radius: 8px;
  padding: 10px;
  font-size: 20px;
  margin: 10px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
}

.todoList .header button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}

.todoList .theList {
  padding-left: 0;
  /* width: 390px; */
} 

.todoList .theList li {
  text-align: left;
  color: #333;
  background-color: rgba(255,255,255,.5);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 20px;
}

.todoList .theList li:hover {
  cursor: pointer;
  box-shadow: 4px 4px grey ;
  transition: all .5s ease;
}

[class*="col-"] {
  width: 90%;
}
  
@media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }

  @media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;} 
  }
